*.swp
._*
.DS_Store
GROOVE
gpg
rdist.timestamp
config.yaml
*local_config.yml
bin/get_book.sh
bin/validateCache
etc/libadm*
etc/mysqlparams
t/cover*
Makefile
MANIFEST
MANIFEST.bak
MANIFEST.SKIP.bak
etc/config/*
etc/config_*
!etc/config/00_*
!etc/config/01_*
*~
var/*
var/db/*
lib/HTFeed/Config.pm
MYMETA*
blib/*
pm_to_blib
volumes_to_test
