[submodule "metslib"]
	path = metslib
	url = git@github.com:hathitrust/metslib
[submodule "vendor/plack-lib/lib"]
	path = vendor/plack-lib/lib
	url = /htapps/repos/plack-lib.git
[submodule "vendor/common-lib/lib"]
	path = vendor/common-lib/lib
	url = /htapps/repos/mdp-lib.git
[submodule "etc/config"]
	path = etc/config
	url = git@github.com:hathitrust/feed_config
[submodule "bin/jobs"]
	path = bin/jobs
	url = git@github.com:hathitrust/feed_jobs
[submodule "google"]
	path = google
	url = git@github.com:hathitrust/feed_google
[submodule "lib/HTFeed/Namespace"]
	path = lib/HTFeed/Namespace
	url = git@github.com:hathitrust/feed_namespaces
