*~
*.swp
._*
.DS_Store
GROOVE
gpg
web/
rdist.timestamp
config.yaml
*local_config.yml
bin/get_book.sh
bin/validateCache
etc/libadm*
etc/mysqlparams
t/cover*
etc/config/*
!etc/config/00_*
!etc/config/01_*
