*~
*.swp
._*
.DS_Store
GROOVE
gpg
web/
rdist.timestamp
config.yaml
*local_config.yml
bin/get_book.sh
bin/validateCache
etc/libadm*
etc/mysqlparams
t/cover*
Makefile
MANIFEST
MANIFEST.bak
MANIFEST.SKIP.bak
