[submodule "metslib"]
	path = metslib
	url = https://github.com/hathitrust/metslib
[submodule "bin/jobs"]
	path = bin/jobs
	url = git@github.com:hathitrust/feed_jobs
[submodule "google"]
	path = google
	url = git@github.com:hathitrust/feed_google
[submodule "lib/HTFeed/Namespace"]
	path = lib/HTFeed/Namespace
	url = git@github.com:hathitrust/feed_namespaces
