---
database:
  datasource: dbi:mysql:mdp_tracking_new:mysql-htdev
  username: USERNAME
  password: PASSWORD

jhove: /l/local/bin/jhove
jhoveconf: /l/local/jhove/conf/jhove.conf

xerces: /l/local/xerces-c/bin/SAX2Count
kdu_munge: /l/local/bin/kdu_munge

jhove: /l/local/bin/jhove
jhoveconf: /l/local/jhove/conf/jhove.conf
l4p:
  root_logger: 'INFO, file'
  config: /htapps/babel/feed/etc/config.l4p

premis_config: /htapps/babel/feed/etc/premis.yaml

staging:
  download: /htprep/download
  fetch: /htprep/mpub_dcu
  ingest: /ram/staging
  zip: /ram/zip_staging
  preingest: /ram/preingest
  disk:
    ingest: /htprep/ingest
    preingest: /htprep/preingest

ram_disk: /ram
ram_fill_limit: 0.8
ram_disk_max_job_size: 1073741824

daemon:
  release_states:
  - punted
  - collated
  - rights
  stop_file: /htapps/babel/feed/etc/STOPFEED

sample_directory: /htprep/qr
repository:
  # The directory in which symbolic links will be created to each volume
  link_dir: /sdr1/obj
  # The directory into which volumes will be loaded 
  obj_dir: /sdr6/obj

rights:
  # user barcode deposit must run as (for scp/ssh)
  user: libadm
  # Directory in which barcodes list files will be created and rights data files will be deposited
  staging: /htapps/babel/groove/prep/rights
  # Archive directory where rights data files will be deposited after they are processed
  archive: /htapps/babel/groove/prep/rights/archive
  # Email address of the person who should receive an email notification when new rights files are available
  email: timothy@umich.edu
  # SCP user, host, deposit directory
  # Variables for forming scp/ssh commands.
  # Ex: scp $barcodes_file $scpuser@scphost:$scp_barcodes_deposit_dir
  # Ex: scp $scpuser@scphost:/scp_rights_pickup_dir/*.rights $rights_dir
  scp:
    user: aleph
    host: irene
    deposit_dir: /exlibris/aleph/u18_1/miu50/local/mdp/return
    pickup_dir: /exlibris/aleph/u18_1/miu50/local/mdp/return

admin_email: aelkiss@umich.edu
from_email: lit-cs-groove@umich.edu

# Configuration for how to run - how many subprocesses, how many retries, etc
#
volumes_in_process_limit: 5
failure_limit: 1
# true to immediately stop a module when an error is encountered
stop_on_error: 1
# true to spawn subprocesses to handle each stage
fork: 1

handle:
  repo_url_base: http://babel.hathitrust.org/cgi/pt?id=
  root_admin: 0.NA/2027
  local_admin: 2027/mdp
  database:
    datasource: dbi:mysql:handle:mysql-htdev
    username: USERNAME
    password: PASSWORD


