---
test_staging:
  damaged: /tmp/prep/DAMAGED
  logs: /tmp/prep/logs
  undamaged: /tmp/prep/UNDAMAGED

test_fixtures: /usr/local/feed/etc/feed_fixtures.sql

repository:
  # The directory in which symbolic links will be created to each volume
  link_dir: /tmp/obj_link
  # The directory into which volumes will be loaded
  obj_dir: /tmp/obj
  backup_obj_dir: /tmp/obj_backup

storage_classes:
  linkedpairtree-test:
    class: HTFeed::Storage::LinkedPairtree
    # The directory in which symbolic links will be created to each volume
    link_dir: /tmp/obj_link
    # The directory into which volumes will be loaded
    obj_dir: /tmp/obj

emma:
  namespace: test
  packagetype: emma
  bucket: emma-test-bucket
  awscli: ['aws', '--endpoint-url', 'http://versitygw:7070']

rabbitmq:
  host: rabbitmq
  user: guest
  password: guest
  queue: testqueue
  priority_levels: 3

awscli: ['aws', '--endpoint-url', 'http://versitygw:7070']

pushgateway: http://pushgateway:9091

# To configure in production

handle:
  repo_url_base: https://babel.hathitrust.org/cgi/pt?id=
  root_admin: 0.NA/9999
  local_admin: 9999/test
  database:
    datasource: dbi:mysql:handle:mariadb
    username: feed
    password: feed

use_dropbox: 0
failure_limit: 5
clamscan: /usr/bin/clamscan
