###### PREMIS configuration ######################################################
#
#

# A perl snippet returning the software name and version for each 'tool' code
# in the PREMIS events below. $self is the HTFeed::METS stage generating the
# PREMIS events.

# Adjust this when updating the container image.

premis_tools:
# Leave as-is.
  FEEDD: $FindBin::Script . " " . HTFeed::Version::get_vstring();
# Leave as-is.
  EXIFTOOL: perl_mod_version('Image::ExifTool');
# FIXME get these versions from debian packages
# Set to the version of Xerces you are using (must be 3.0 or later)
  XERCES: qq(Xerces-C 3.2.4)
  JHOVE: qq(JHOVE 1.32.0)
# Leave as is.
  DIGEST_MD5: perl_mod_version('Digest::MD5');
# GnuPG is not needed unless downloading packages from Google.
  GPG: qq(GnuPG 2.22.40)
  ZIP: qq(Zip 3.0)
  GRK_COMPRESS: qq(grok-j2k 10.0.5)
  EPUBCHECK: qq(epubcheck 4.2.6)
  CLAMAV: qq(ClamAV 1.0.5)

# For each possible kind of PREMIS event, list the PREMIS eventType, the
# eventDetail, the executor linkingAgent VOLUME_ARTIST), and any tool
# linkingAgents. The tools must be drawn from the list in the 'tools'
# configuration variable here.

premis_events:

  capture:
    type: capture
    detail: Initial capture of item
    executor: VOLUME_ARTIST

  creation:
    type: creation
    detail: Initial creation of item
    executor: VOLUME_ARTIST

  dummy_ocr_creation:
    type: dummy ocr creation
    detail: No OCR for this volume. Placeholder OCR files included for convenience.
    executor: umich
    executor_type: HathiTrust Institution ID

  file_rename:
    type: file rename
    detail: File renaming to HathiTrust conventions
    executor: umich
    executor_type: HathiTrust Institution ID
    tools:
      - FEEDD

  ht_mets_creation:
    type: mets creation
    detail: Creation of HathiTrust METS file
    executor: umich
    executor_type: HathiTrust Institution ID
    tools:
      - FEEDD

  image_compression:
    type: image compression
    detail: Conversion of raw scans to compressed TIFF and JPEG2000
    executor: umich
    optional: 1
    executor_type: HathiTrust Institution ID
    tools:
      - FEEDD
      - GRK_COMPRESS
      - EXIFTOOL

  image_header_modification:
    type: image header modification
    detail: Modification of image headers to meet HathiTrust conventions
    executor: umich
    executor_type: HathiTrust Institution ID
    tools:
      - FEEDD
      - EXIFTOOL

  ingestion:
    type: ingestion
    detail: Ingestion of object package into repository
    executor: umich
    executor_type: HathiTrust Institution ID
    tools:
      - FEEDD

  manual_quality_review:
    type: manual quality review
    detail: Files manually reviewed during quality control process
    executor: umich
    executor_type: HathiTrust Institution ID
    tools:
      - FEEDD

  mets_validation:
    type: validation
    detail: Validation of source METS file
    executor: umich
    executor_type: HathiTrust Institution ID
    tools:
      - XERCES

  ocr_normalize:
    type: ocr split
    # detail is package-type specific
    executor: umich
    executor_type: HathiTrust Institution ID
    tools:
      - FEEDD

  package_inspection:
    type: package inspection
    detail: Inspection of download package for missing files
    executor: umich
    executor_type: HathiTrust Institution ID
    tools:
      - FEEDD

  package_validation:
    type: validation
    detail: Validation of technical characteristics of image and OCR files
    executor: umich
    executor_type: HathiTrust Institution ID
    tools:
      - FEEDD
      - JHOVE
      - XERCES

  page_feature_mapping:
    type: page feature mapping
    detail: Mapping of original page feature tags to HathiTrust tags
    executor: umich
    executor_type: HathiTrust Institution ID
    tools:
      - FEEDD

  page_md5_create:
    type: message digest calculation
    detail: Calculation of MD5 checksums for image and OCR files
    executor: umich
    executor_type: HathiTrust Institution ID
    tools:
      - DIGEST_MD5

  page_md5_fixity:
    type: fixity check
    detail: Validation of MD5 checksums for image and OCR files
    executor: umich
    executor_type: HathiTrust Institution ID
    tools:
      - DIGEST_MD5

  preingest:
    type: transformation
    detail: Transformation of files for ingest (mod1-modN in source METS)
    executor: umich
    executor_type: HathiTrust Institution ID
    tools:
      - FEEDD
    # list any other tools here??

  source_md5_fixity:
    type: fixity check
    detail: Calculation of md5 hash values for downloaded files, comparison with pre-download md5 values
    executor: umich
    executor_type: HathiTrust Institution ID
    tools:
      - DIGEST_MD5

  source_mets_creation:
    type: source mets creation
    detail: Creation of source METS file
    executor: umich
    executor_type: HathiTrust Institution ID
    tools:
      - FEEDD

  zip_compression:
    type: zip archive creation
    detail: Compression of content files and source METS into zip archive
    executor: umich
    executor_type: HathiTrust Institution ID
    tools:
      - ZIP

  zip_md5_create:
    type: zip file message digest calculation
    detail: Calculation of md5 checksum for zip archive
    executor: umich
    executor_type: HathiTrust Institution ID
    tools:
      - DIGEST_MD5

  premis_migration:
    type: premis migration
    detail: Migration of PREMIS metadata to new version
    executor: umich
    executor_type: HathiTrust Institution ID
    optional: 1
    tools:
      - FEEDD

  mets_update:
    type: mets migration
    detail: Migration of METS to new HathiTrust METS profile version
    executor: umich
    executor_type: HathiTrust Institution ID
    tools:
      - FEEDD

  note_from_mom:
    type: manual inspection
    detail: Manually inspect item for completeness and legibility
    executor: umich
    executor_type: HathiTrust Institution ID
    optional: 1
