# To configure in production

storage_classes:
  localpairtree-ingest:
    class: HTFeed::Storage::LocalPairtree
    # The directory in which symbolic links will be created to each volume
    link_dir: /sdr2/obj
    # The directory into which volumes will be loaded
    obj_dir: /sdr1/obj
  prefixedversions-ingest:
    class: HTFeed::Storage::PrefixedVersions
    obj_dir: /htdataden
