---
name: Run Tests

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  # Run tests
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # runner runs as userid 1001 but userid 1000 is baked into docker image.
      # we could adjust this if needed via env var but this should work
      - name: Adjust permissions for versitygw directory
        run: chmod 777 var/vgw

      - name: Build docker image
        run: docker compose build
      
      - name: Run tests
        run: docker compose run test-and-cover
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
